<!DOCTYPE html>
<html>
    <head></head>
    <script src="js/vendor/force.all.js"></script>
    <script>
        var oauth = force.OAuth.createInstance();
        oauth.login().then(function(oauthResult) {
            force.DataService.createInstance(oauthResult);
            console.log("ログイン中！",oauthResult);   
        });

        function loadContacts() {
            var service = force.DataService.getInstance();
            service.query('select id, Name from contact LIMIT 50')
                .then(function(response) {
                    var contacts = response.records;
                    // do something with contacts
                    console.log("検索できました！",contact);
                });
        }
    </script>
    <body>
        <p>Heroku!!Masaki.Kawaguchi</p>
        <input type="button" value="Yahoo!Japanへリンク" onClick="loadContacts();"></input>
    </body>
</html>