<!DOCTYPE html>
<html>
    <head></head>
    <script src="js/vendor/force.all.js"></script>
    <script src="https://dev01-masaki-ac-dev-ed.my.salesforce.com/lightning/lightning.out.js"></script>
    <script>
        var appId = "3MVG9d8..z.hDcPI480sWvD14hZrBiTAt1Y9JkOYQMwZX7FwwART8UP6HpgumdLJ0rLi6c1gVCI9mK7W4NePM";
        var loginURL = "https://login.salesforce.com";
        var oauthCallbackURL = "https://floating-lake-81009.herokuapp.com/oauthcallback";
        var oauth = force.OAuth.createInstance(appId,loginURL,oauthCallbackURL);
        oauth.login().then(function(oauthResult) {
            force.DataService.createInstance(oauthResult);
            force.DataService.getInstance("").useProxy=false
            var lightningEndPointURI = force.DataService.getInstance("").instanceURL.replace("my.salesforce", "lightning.force");
            var accessToken = force.DataService.getInstance("").accessToken;
            var appName = "LightningOutApp";
            var cmpName = "AccountCmp";
            console.log("Create Lightning...", lightningEndPointURI, accessToken);
            $Lightning.use(appName, function() {
                $Lightning.createComponent(cmpName, {}, "lightning");
            }, lightningEndPointURI, accessToken);
        });
        function loadContacts() {
            var service = force.DataService.getInstance();
            service.query('select id, Name from contact LIMIT 50')
                .then(function(response) {
                    var contacts = response.records;
                    // do something with contacts
                    console.log("検索できました！",contacts);
                });
        }
    </script>
    <body>
        <p>Heroku!!Masaki.Kawaguchi</p>
        <div id="lightning"></div>
        <!--<input type="button" value="取引先責任者取得" onClick="loadContacts();"></input>-->
    </body>
</html>